@import "grid";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #64ff78;
  text-decoration: inherit;

  &:hover {
	color: #349b41;
  }
}

button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;

  &:hover {
	border-color: #349b41;
  }

  &:focus,
  &:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
  }
}

.card {
  padding: 2em;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: light) {
  :root {
	color: #213547;
	background-color: #fff;
  }

  button {
	background-color: #1a1a1a;
  }
}
