name: Prod Build

on:
  push:
    branches:
      - main

jobs:
  build-prod:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Copy .env from server
        run: cp /home/petya/projects/yt-music/.env .env

      - name: Run make prod
        run: make prod
